# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Tesis-2D.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity projects\Movil\Tesis-2D\.idea\.idea.Tesis-2D\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
